
* {
    box-sizing: border-box;
}
.in-view_section {
    height: 100vh;
    max-width: 1100px;
}

body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    max-width: 100vw;
    background: #292828;
    background-image: url("images/skylar_backgrnd.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.empty-header {
    position: relative;
    height: 100px;
    margin: auto;
}

p{
    color: #f5f4e4;
    font-size: xx-large;
}

/* navbar 
---------------------------------------*/

header {
    /* margin: auto; */
    position: fixed;
    width: 100vw;
    max-height: 5em;
    font-size: small;
    color: #f5f4e4;
    border-bottom: 1px solid #777;
    align-items: center;
    /* padding: 1.5rem 2.5rem; */
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
}


.nav-links{
    display: inline-block;
    padding: 0 10px;
    border:none;
    font-size: medium;
    cursor: pointer;
    list-style: none;
    float: right;
}

.nav-links a{
    color: #f5f4e4;
    text-decoration: none;
    font-size: large;
}

.header-name {
    float: left;
}

/* Index Section
------------------------------------ */
#the_index {
    color: rgb(238, 229, 211);
    opacity: .98;
    display: flex;
    justify-content: space-between;
    transition: align-items 1s, flex-direction 1s;
    margin: auto;
    margin-bottom: 6rem;
    padding: 6.5rem 1rem 0 1rem;
    height: 100vh;
}
.index-div {
    background-color: rgba(255, 255, 255, 0);
}

.graphic_text {
    flex: 1;
    margin-top: 10rem;
    max-width: 600px;
}

.brand-statement {
    font-size: 30px;
    padding-right: 2rem;
    flex: 1;
    height: 200px
}

.space {
    visibility: hidden;
}

.connect-list-item a{
    text-decoration: none;
    color: whitesmoke;
    font-size: x-large;
    transition: font-size .5s;
}

/* about 
------------------------------------------------*/
#the_about {
    color: rgb(238, 229, 211);
    opacity: .98;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

article {
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
    margin: auto;
    flex: 1;
}

.about-bio {
    background-color: rgba(255, 255, 255, 0);
    margin-left: 1rem;
}

.about-left {
    margin: auto;
    padding: 1rem;
}

.about-img {
    flex: 1;
    border: 1px;
    border-color: black;
    border-radius: 1px;
    max-width: 400px;
}

 #the_about h2 {
    font-size: 60px;
    line-height: 30px;
    font-family: 'Anton', sans-serif;
    margin-left: 2rem;
 }

 .name_bio {
     font-size: medium;
     margin-left: 12rem;
 }

/* Works 
------------------------------------------------*/
#the_works {
    flex: 1;
    margin: 20rem auto;
    position: relative;
    transition: all .5s ease;
}

#the_works h1 {
    font-family: 'Anton', sans-serif;
    text-align: left;
    font-size: 75px;
    color: #f5f4e4;
    margin: auto;
}

#the_works h2 {
    text-align: right;
    color: #f5f4e4;
    margin: 0px 0 70px 150px;
    font-size: 15px;
}

div.works {
    flex: 1;
    height: 250px;
    width: 550px;
    background-size: cover;
    position: relative;
    margin-top: 60px;
    border-radius: 12px;
    transition: filter .5s, width .5s, height .5s;
}


/* div.works p{
    color: #f5f4e4;
    background: black;
    background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 10px;
    font-size: 28px;
    line-height: 38px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 35px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    cursor: pointer;
} */

small {
    font-size: 16px;
    opacity: 0;
}

.show-description .project-description {
    height: 300px;
}

.show-description small {
    opacity: 1;
}

.first-project {
    background-image: url("images/artgen.png"); 
}
.first-project:hover{
    filter: grayscale(50%);
}

.second-project {
    background-image: url("images/spacendar.png");
}
.second-project:hover {
    filter: grayscale(50%);
}

.third-project {
    background-image: url("images/pexels-btgl-â¡-3689659.jpg");  
}
.third-project:hover {
    filter: grayscale(50%);
}

.place {
    float: right;
}

/* contact 
-----------------------------------------------*/

#the_contact {
    display: flex;
    margin: auto;
    height: 90vh;
    justify-content: space-between;
}

.connect, .content-top {
    flex: 1;
    margin-top: 10rem;
}

.content-top a{
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
    opacity: 1;
}

.connect-list-item {
    font-size: x-large;
    padding: 0 14px;
    margin: auto;
    border: 2px solid white;
    border-radius: 20px;  
    display: inline-block;
}

.connect-list-item a:hover {
    font-size: xx-large;
}

/* footer 
----------------------------------*/

.social {
    list-style: none;
    display: flex;
}

.social li {
    flex: auto;
}

footer{
    margin: auto;
    margin-bottom: 1.5rem;
}
footer li, footer li a {
    margin: 0 20px;
    text-decoration: none;
    color: #f5f4e4;
    transition: text-decoration 1s;
}

footer li a:hover {
    text-decoration: line-through;
}

/* media 
--------------------------------------------------*/

@media (max-width: 1000px) {
    .nav-list {
            margin-top: -2em;
        }
    .header-name {
        font-size: x-large;
    }
    li {
        font-size: xx-large;
    }
    #the_index{
        flex-direction: column;
        align-items: center;
        transition: align-items 1s, flex-direction 1s;
    }
    .graphic_text {
        width: 700px;
    }
    .brand-statement {
        margin-top: 5rem;
        width: 700px;
    }
    #the_contact {
        flex-direction: column;
        align-items: center;
    }
    .connect {
        margin-top: 30rem;
        width: 600;
    }

    .content-top {
        margin: auto 2rem;
    }

    #the_about {
        flex-direction: column;
        padding-top: 10rem;
    }

    .about-right {
        height: 200px;
    }

    .about-bio {
        font-size: xx-large;
    }

    #the_about h2 {
        font-size: 60px;
        line-height: 30px;
    }

    .name_bio {
        font-size: large;
        margin-left: 15rem;
    }

    h1 {
        font-size: 50px;
        margin-top: 20px;
        line-height: 40px;
    }

    h2 {
        font-size: 10px;
        margin: 20px 0 30px 0;
    }

    div {
        margin: 20px 12px 0 12px;
    }

    .about-bio {
        font-size: x-large;
    }

    .reach-out{
        font-size: xx-large;
    }

    p {
        font-size: 50px;
        line-height: 44px;
    }

    small {
        font-size: 16px;
    }

    footer li, footer li a {
        font-size: larger;
        margin-bottom: 2rem;
    }
}