
* {
    box-sizing: border-box;
}
.in-view_section {
    height: 100vh;
    max-width: 100vw;
}

body {
    font-family: helvetica, sans-serif;
    margin: 0 auto;
    max-width: 100vw;
    background: #292828;
    background-image: url("images/pexels-skylar-kang-6044820.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

/* navbar 
---------------------------------------*/

header {
    margin: auto;
    position: fixed;
    width: 100vw;
    font-size: small;
    color: #f5f4e4;
    border-bottom: 1px solid #777;
    align-items: center;
    padding: 1.5rem 2.5rem;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.header-name {
    flex: 8;
    font-size: medium;
}
button {
    background: transparent;
    border:none;
    color: #f5f4e4;
    font-size: medium;
}

/* Index Section
------------------------------------ */
#the_index {
    color: rgb(238, 229, 211);
    opacity: .98;
    display: flex;
    justify-content: space-between;
    transition: align-items 1s, flex-direction 1s;
    margin: auto;
    padding: 6.5rem 1rem 0 1rem;
    height: 100vh;;
}
.index-div {
    background-color: rgba(255, 255, 255, .1);
}
.typography {
    flex: 1;
    margin: auto;
}
.typography h1{
    font-size: 50px;
    transform: scale(1, 3);
    line-height: 37px;
    font-family: 'Prompt', sans-serif;
}
.creative{
    font-size: large;
}
.and{
    font-size: medium;
}
.brand-statement {
    font-size: 30px;
    margin: auto;
    padding-right: 2rem;
    flex: 1;
}
.space {
    visibility: hidden;
}
.contact_button {
    background: transparent;
    border: 3px solid white;
    color: white;
    border-radius: 30px;
    float: right;
    opacity: .7;
    font-size: larger;
}

/* about 
------------------------------------------------*/
#the_about {
    color: rgb(238, 229, 211);
    opacity: .98;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 2rem;
    display: flex;
}

article {
    max-width: 600px;
    float: center;
    margin: auto;
    flex: 1;
}

.about-img {
    flex: 1;
    border: 1px;
    border-color: black;
    border-radius: 2px;
}

/* Works 
------------------------------------------------*/
#the_works {
    flex: 1;
    padding: 2rem;
}
div.works {
    flex: 1;
    float: inline-start;
    height: 300px;
    width: 600px;
    background-size: cover;
    position: relative;
    margin: 60px 0 0 0;
    border-radius: 12px;
    transition: filter .5s;
    display: flex;
    flex-direction: column;
}

.works:hover{
    filter: grayscale(50%);
}

#the_works h1 {
    font-family: 'Cookie', cursive;
    text-align: left;
    font-size: 75px;
    color: #f5f4e4;
    margin: 60px 0 0 0;
}

#the_works h2 {
    text-align: left;
    color: #f5f4e4;
    margin: 0px 0 70px 150px;
    font-size: 15px;
}

#the_works p {
    color: #f5f4e4;
    background: black;
    background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 10px;
    font-size: 28px;
    line-height: 38px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 35px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    cursor: pointer;
}

small {
    font-size: 16px;
    opacity: 0;
}

.show-description p {
    height: 350px;
}

.show-description small {
    opacity: 1;
}

.first-project {
    background-image: url("images/pexels-pixabay-355288.jpg");
}

.second-project {
    background-image: url("images/pexels-suzy-hazelwood-1629236.jpg");
}

.third-project {
    background-image: url("images/pexels-btgl-â¡-3689659.jpg");
}

.place {
    float: right;
}

/* contact 
-----------------------------------------------*/
#the-contact {
    flex-direction: 1;
}


/* media 
--------------------------------------------------*/

@media (max-width: 600px) {
    #the_index{
        flex-direction: column;
        align-items: center;
        transition: align-items 1s, flex-direction 1s;
    }
    h1 {
        font-size: 50px;
        margin-top: 20px;
        line-height: 40px;
    }

    h2 {
        font-size: 10px;
        margin: 20px 0 30px 0;
    }

    div {
        margin: 20px 12px 0 12px;
    }

    p {
        font-size: 50px;
        line-height: 44px;

    }
    small {
        font-size: 16px;
    }
}