/* Global Styles
------------------------------------------ */
*,
:after,
:before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Element Styles
------------------------------------------ */

body {
    background-color: rgb(17, 17, 17);
    background-image: url("images/pexels-skylar-kang-6044820.jpg");
    background-size: cover;
    font-family: 'nimbus-sans', sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    max-width: 100vw;
}
section {
    color: whitesmoke;
    max-height: 100vh;
}

/* Nav Bar
------------------------------------ */
header {
    margin: auto;
    width: 100%;
    position: relative;
    font-size: small;
    color: whitesmoke;
    border-bottom: 1px solid #777;
    align-items: center;
    padding: .5rem .5rem;
}

.navbar_list {
    display: flex;
}

.top_title {
    visibility: hidden;
}

.navbar_item-name {
    flex: 1;
}

li {
    flex: .2;
    list-style: none;
    justify-content: space-between;
}
li a{
    color: whitesmoke;
    background: transparent; 
    border: none;
    cursor: pointer;
    text-decoration: none;
}


/* Index Section
------------------------------------ */
#index {
    color: whitesmoke;
    opacity: .98;
    align-items: center;
    margin: auto;
}
.space{
    visibility: hidden;
}
#index h1 {
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    padding: 20% auto;
    line-height: 45px;
    transform: scaleY(1.5);
   
}
.creative {
    font-family: 'Lobster', cursive;
    font-size: small;
    text-align: left;
}
.and {
    font-size: medium;
    font-family: 'Lobster', cursive;
}
.brand-statement {
    font-size: small;
    margin: 100px auto;
    width: 300px;
}
.contact_button {
    background: transparent;
    border: 1px solid white;
    color: whitesmoke;
    border-radius: 20px;
    float: right;
    opacity: .7;
}

/* About Section
------------------------------------ */
#about {
    margin: auto;
}
#about .name_bio {
    font-size: x-small;
}
#about p {
    padding: 1rem 1rem;
}
.about-img {
    width: 50vh
}



/* Featured Works 
------------------------------------------------*/

div.works {
    height: 400px;
    background-size: cover;
    position: relative;
    margin: 40px 0 0 0;
    border-radius: 12px;
    transition: filter .5s;
}

.works:hover {
    filter: grayscale(100%);
}

#the_works h1 {
    font-family: 'Cookie', cursive;
    text-align: left;
    font-size: 75px;
    color: #f5f4e4;
    margin: 60px 0 0 0;
}

#the_works h2 {
    text-align: left;
    color: #f5f4e4;
    margin: 0px 0 70px 150px;
    font-size: 15px;
}

#the_works p {
    color: #f5f4e4;
    background: black;
    background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 10px;
    font-size: 28px;
    line-height: 38px;
    text-align: justify;
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 35px;
    transition: height .5s;
    -webkit-transition: height .5s;
    -moz-transition: height .5s;
    cursor: pointer;
}

small {
    font-size: 16px;
    opacity: 0;
}

.show-description p {
    height: 350px;
}

.show-description small {
    opacity: 1;
}

.first-project {
    background-image: url("pexels-btgl-â¡-3689659.jpg");
}

.second-project {
    background-image: url("pexels-pixabay-355288.jpg");
}

.third-project {
    background-image: url("pexels-suzy-hazelwood-1629236.jpg");
}

.place {
    float: right;
}

@media (max-width: 1000px) {
    #the_index {
        flex-direction: column;
        align-items: center;
        transition: align-items 1s, flex-direction 1s;
    }

    h1 {
        font-size: 50px;
        margin-top: 20px;
        line-height: 40px;
    }

    h2 {
        font-size: 10px;
        margin: 20px 0 30px 0;
    }

    div {
        margin: 20px 12px 0 12px;
    }

    p {
        font-size: 50px;
        line-height: 44px;

    }

    small {
        font-size: 16px;
    }
}