/* Global Styles
------------------------------------------ */
* {
    box-sizing: border-box;
}

/* Element Styles
------------------------------------------ */

body {
    background-color: azure;
    background-image: url("images/pexels-daniel-absi-952670.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: nimbus-sans, sans-serif;
}
main {
    display: block;
}
#index {
    margin-top: 100px;
    max-width: 90%;
    max-height: 90%;
    background-color: whitesmoke;
    opacity: 40%;
}
h1{
    font-size: 200px;
    line-height: 140px;
}
header {
    position: fixed;
    top: 0px;
    left: 28px;
    right: 28px;
    z-index: 11;
    height: 55px;
    background-color: whitesmoke;
    display: none;
    
}

.brand-statement {
    background-color: whitesmoke;
    opacity: 60%;
    max-width: 600px;
    border-radius: 12px;
    text-align: center;
    padding: 11px;
    display: none;
}
 


 @media (max-width: 500px) {
     h1 {
         font-size: 36px;
         padding: 5px;

     }

     li {
         padding: 5px;
         display: block;
     }
 }