/* Global Styles
------------------------------------------ */
*,
:after,
:before {
    box-sizing: border-box;
}

/* Element Styles
------------------------------------------ */

body {
    background-color: azure;
    background-image: url("");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: nimbus-sans, sans-serif;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}
main {
    display: block;
}
.navbar {
    width: 100%;
}
ul {
    display: flex;
    border-bottom: 1px solid #777;
    align-items: center;
    padding: 1.5rem 0.5rem;
    list-style: none;
}
.navbar_item-name {
    flex:20;
}
li {
    flex: 1;
}
li a {
    text-decoration: none;
    color:black;
}
h1{
    font-size: 100px;
    line-height: 140px;
}
.header{
    font-size: 10px;
}

.brand-statement {
    background-color: whitesmoke;
    opacity: 60%;
    max-width: 600px;
    border-radius: 12px;
    text-align: center;
    padding: 11px;
    display: none;
}
 


 @media (max-width: 500px) {
    .navbar_item-name {
            display: none;
        }
    #index .creative{
        font-size: small;
    }
    #index .and{
        font-size: xx-small;
    }
     h1 {
         font-size:larger;
         line-height: 12px;
         padding: 5px;
     }

     li {
         padding: 5px;
         display: block;
     }
 }